<div class="container">
  <div class="jumbotron">
    <h1 class="display-3" style="text-align:center">Welcome</h1>
    </div>
    <div class="container-fluid">
      <div class="form-header">
        <button  routerLink="/" class="btn btn-info">Select items</button>&nbsp;
        <button  routerLink="/shoppingList" class="btn btn-info">Shopping list</button>&nbsp;
        <button  routerLink="/checkout" class="btn btn-info">checkout</button>
      </div>
    </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
